<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
   <h1 class="text-white text-center">Welcome to Movie Dudes</h1>
<p class="text-white text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, id cupiditate officiis delectus iure consequatur, optio eos voluptates cum sequi eveniet nobis voluptas illo harum incidunt quibusdam numquam qui fuga. Vero ipsum reiciendis aut labore vel? Iure ab quia praesentium dolor amet animi est? Inventore sunt repudiandae laboriosam aliquid. Cum!</p>
    </div>
  </div>
</div>

