 <!-- Search for a movie -->
  <!-- Container for movies -->
  <div class="main container flex-column mt-5">
    <div class="flex-column text-center">
      <h1 class="is-size-1 text-white">Movies</h1>
      <p class="text-white">Explore Movies & TV Shows</p>
      <section class="flex-row main">

      </section>
    </div>
      
     <script src="/js/movie.js"></script>