<!-- Container for movies -->
  <div class="container flex-column mt-5">
    <div class="flex-column">
      <h1 class="text-white">Movies</h1>
      <p class="text-white">Explore Movies & TV Shows</p>
      <section class="flex-row main">

      </section>
    </div>
    <!-- Info containing the main content of the page-->
          <div class="tile is-parent">
            <article class="flex-column box mt-3">
              <p class="title heading"></p>
              <p class="text-white text-center title-movie"></p>
              <p class="subtitle subtitle-movie"></p>
              <figure class="image">
                <img class="poster" src="">
              </figure>
              <a class="id-movie subtitle-movie btn btn-primary" target="_blank" href="">View IMDB</a>
                 <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  class="btn mt-1 buttons btn-secondary btn-movie-default">Add review</button>
            </article>
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="for-title"></div>
        
      <textarea class="form-control" placeholder="Title" id="review-title" style="height: 20px"></textarea>
      <textarea class="form-control mt-2" placeholder="Write review" id="review-cotent" style="height: 60px"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-submit">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/movie.js"></script>