body {
    background-image: url('/img/202229-red-seat-cinema-and-theatre-hd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
.form-label {
color: whitesmoke;

}
.text-center {
    color: whitesmoke;

}

.form-text {
    color: whitesmoke;
 
}

#movie {
    color: whitesmoke;
}

#description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.1vh;
    flex-direction: column;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 5vh;
    flex-direction: column;
}