body {
    background-image: url('/img/202229-red-seat-cinema-and-theatre-hd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
.form-label {
color: whitesmoke;

}
.text-center {
    color: whitesmoke;

}

.form-text {
    color: whitesmoke;
 
}